
.AboutFaq{
  background-color: #111315 ;
  padding-bottom: 5rem;
}
.aboutFaqHeading{
  font-size: 3rem !important;
  font-weight: 700 !important;
}
.Accordian {
  margin: auto;
  padding-top: 5rem;
}

#ab {
  font-size: 1.3rem !important;
}

.accordian-item {
  border: 2px solid black !important;
}

.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.rightBox {
  background: #b27633;
  height: 100%;
  padding: 50px;
}

.rightBox h3 {
  margin-top: 0;
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  font-family: "Syne", sans-serif;
}

.rightBox p {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  margin: 20px 0;
}

.contactBtn {
  padding: 10px 25px;
  font-size: 15px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  color: white !important;
  cursor: pointer;
  transition: 0.3s;
}

.contactBtn:hover {
  background: white;
  color: #b27633;
}

