.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 130px 40px;
  background: #000;
  color: #fff;
}

.basket h2,
.total h3 {
  border-bottom: 2px solid #561064;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  gap: 20px;
  padding: 20px 0;
 border-bottom: 2px solid #561064;
}

.item img {
  height: 130px;
  width: 150px;
  border-radius: 8px;
}

.info h4 {
  margin: 0;
}

.desc {
  font-size: 13px;
  color: #bbb;
  margin: 6px 0;
  max-width: 420px;
}

.qty {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.qty button {
  width: 30px;
  background: linear-gradient(180deg, #612882, #ca329a);
  border: none;
  color: #fff;
  cursor: pointer;
}

.remove {
  background: none;
  border: none;
  color: #f87171;
  cursor: pointer;
}

.total {
  border: 1px solid #a855f7;
  padding: 30px;
}

.total p,
.total h4 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.btnWrap {
  display: block;
  width: 100%;
  padding: 6px;
  border: 1px solid #c65ac8;
}

.pay {
  width: 100%;
  padding: 12px;

  background: linear-gradient(180deg, #612882, #ca329a);
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width:768px) {
  .page{
    grid-template-columns: 1fr;
    padding-top: 10rem;
    padding:10rem 20px 0 20px;
  }
  .item{
    flex-direction: column;
  }
}