@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
.hero {
  position: relative;
  height: 100vh;
  background: url("/images/blog-main.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DARK OVERLAY */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* adjust darkness */
  z-index: 1;
}

/* CONTENT ABOVE OVERLAY */
.hero > * {
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
}
.contents {
  position: relative;
  z-index: 2;
  color: #fff;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.cartIcon {
  margin-right: 3rem;
}

.contents h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Syne", sans-serif;
}
.contents p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: #1f242b;
  display: flex;
  justify-content: space-around;
  align-items: center;
   padding: 40px;
   overflow: hidden;
}

.main1 h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
   font-family: "Syne", sans-serif;
}

.main2 {
  display: flex;
  gap: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: cover;
  transition: transform 0.2s linear;
  position: relative;
  bottom: 45px;

}

.centerImg {
  margin-top: 55px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
 
}
.blogwrapper {
  width: 100%;
  background: #0f1111;
  padding-bottom: 100px;
  padding-top: 20px;
}

.blogcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px;
  background: #0f1111;
  padding-top: 80px;
  max-width: 1350px;
  margin: 0 auto;

}

.blogcard {
  border: 1px solid #333;
  background: #111;
  color: #f5f5f5;
  padding: 20px;

}

.blogtitle {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
   font-family: "Syne", sans-serif;
}

.blogimg {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  cursor: pointer;
}


.blogmeta {
  display: flex;
  gap: 30px;
  font-size: 14px;
  margin-bottom: 15px;
  color: #ddd;
  font-weight: 700;
   font-family: "Syne", sans-serif;
}

.blogdesc {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    height: 65vh;
  }

  .contents {
    padding-top: 15rem;
    justify-content: normal;
  }
   .blogcontainer{
    grid-template-columns: repeat(2,1fr);
  }
  .blogimg{
    height: auto;
  }
}

/* Responsive For below 768px */
@media (max-width: 767px) {
  .hero {
    height: auto;
  }

  .contents {
    padding-top: 10rem;
    padding-bottom: 3rem;
    height: auto;
    justify-content: normal;
  }
  .blogcontainer{
    grid-template-columns: repeat(1,1fr);
  }
  .blogimg{
    height: auto;
  }
  .blogdesc{
    font-size: 14px;
  }
  .contents h1,.heading1,.headers1 h1,.headingf,.headingmain,.heading{
    font-size: 28px !important;
  }
}