@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.main {
  background-color: #1f242b;
  display: flex;
  justify-content: space-around;
  align-items: center;
   padding: 40px;
   overflow: hidden;
}

.main1 h1 {
  color: white;
 font-size: 70px;
  font-weight: 700;
   font-family: "Syne", sans-serif;
}

.main2 {
  display: flex;
  gap: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: cover;
  transition: transform 0.2s linear;
  position: relative;
  bottom: 45px;

}

.centerImg {
  margin-top: 55px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
 
}

.Mainblogsingle {
  background: #0f0f0f;
  padding-top: 50px;
}

.blogDetailsWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding: 50px;
  color: #fff;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;

}

.blogleft {
  width: 100%;

}

.blogmainimg {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.blogtitle {
  font-size: 40px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
  margin-bottom: 10px;
  line-height: 1.3;
}

.bloginfo {
  display: flex;
  gap: 25px;
  font-size: 15px;
  color: #ccc;
  margin-bottom: 30px;
   font-family: "Syne", sans-serif;
}

.bloginfo span {
  padding: 0px 0px;
}

.blogpara {
  color: #8e8c8c;
  line-height: 1.7;
  margin-bottom: 25px;
   font-family: "Syne", sans-serif;
}

.blogquote {
  background: #1a1a1a;
  padding: 25px;
  border-left: 4px solid #ce9653;
  font-style: italic;
  color: #ffd7a6;
  margin: 35px 0;
   font-family: "Syne", sans-serif;
}

.replytitle {
  font-size: 45px;
  margin-top: 40px;
  font-family: "Syne", sans-serif;
  font-weight: 600;
}

.replynote {
  color: #696666;
  margin-bottom: 20px;
   font-family: "Syne", sans-serif;
}

.replyform label {
  display: block;
  margin: 15px 0 5px;
  font-size: 18px;
   font-family: "Syne", sans-serif;

}

.replyform textarea,
.replyform input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1c1c1c;
  color: #fff;
  border-radius: 30px;
}

.checkboxrow {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
  color: #ccc;

}

.check {
  position: relative;
 bottom: 10px;
 left: 10px;
 

}

.checkboxrow input[type="checkbox"] {
  width: 16px;
  height: 16px;

}

.p1 {
  font-size: 17px;
   font-family: "Syne", sans-serif;
  
}

.commentbtn {
  background: #ce9653;
  padding: 12px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #ccc;
  font-family: "Syne", sans-serif;

}


.blogright {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 50px;
  height: fit-content;

}

.recenttitle {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 700;
   font-family: "Syne", sans-serif;

}

.scrollContainer {
  height: 150%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.scrollContent {
  display: flex;
  flex-direction: column;
  animation: scrollUp 12s linear infinite;
   font-family: "Syne", sans-serif;

}

.scrollContent p {
  color: grey;
   font-family: "Syne", sans-serif;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.recentpost {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #3a3a3a;
  cursor: pointer;
  transition: 0.3s;
}

.recentpost:hover {
  transform: scale(1.03);
}

.recentpost img {
  width: 130px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
.error {
  color: #cfa05f;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Syne", sans-serif;
}
