@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.section {
  padding: 3rem 4rem;
  background: #0e0f12;
  color: #fff;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 4rem;
  font-family: "Syne", sans-serif;
}

.categoryRow {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;

}

.categoryCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: transparent;
  border: 1px solid #282828;
  padding: 1rem 2rem;
  border-radius: 15rem;
  min-width: 250px;
  transition: 0.3s;
}

.categoryCard:hover {
  transform: translateY(-5px);
  border-color: #e2b06b;
}

.catImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.aboutSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 2rem;
}

.container{
  max-width: 1500px;
  
}

.aboutLeft h2 {
  font-size: 3.3rem;
  margin-bottom: 1.2rem;

}

.hh2 {
  font-family: "Syne", sans-serif;
}

.aboutLeft p {
  color: #b7b7b7;
  margin-bottom: 2.5rem;
  line-height: 1.7;
}

.btn {
  background: linear-gradient(to right,#771658, #52206E);
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  color: white;
}

.btn:hover {
  border: 1px solid #771658;
  background: transparent;
  color: white;
 
}

.aboutRight {
  position: relative;
  width: 450px;
  height: 350px;

}

.bigRound {
  width: 60%;
  height: 100%;
  border-radius: 90% / 50%;
  overflow: hidden;
}

.bigRound img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallRound {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 145px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #0e0f12;
}

.smallRound img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideUpOnce,
.slideRightOnce {
  opacity: 2;
}

.showOnceUp {
  animation: slideUpOnceAnim 1s ease-out forwards;
}

.showOnceRight {
  animation: slideRightOnceAnim 1.6s ease-out forwards;
}

@keyframes slideUpOnceAnim {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightOnceAnim {
  from {
    opacity: 0;
    transform: translateX(60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.animLeft,
.animRight {
  opacity: 0;
}


.showAnim {
  opacity: 1;
  animation: smoothSlide 0.6s ease-out forwards;
}


.animLeft {
  transform: translateX(-60px);
}


.animRight {
  transform: translateX(60px);
}


@keyframes smoothSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 900px) {
  .aboutLeft {
    max-width: 100%;
    text-align: center;
  }

  .aboutRight {
    margin: auto;
  }

  .title {
    text-align: center;
  }
  .container{
padding-left: 150px;
  }
  .hh2{
    font-size: 30px;
    align-items: flex-start;
  }
  .hh3{
  text-align: justify;
  font-size: 18px;
}
}