.main {
  background-color: #1f242b;
  display: flex;
  justify-content: space-around;
  align-items: center;
   padding: 40px;
   overflow: hidden;
   font-family: "Syne", sans-serif;
}

.main1 h1 {
  color: white;
  font-size: 50px;
  font-weight:700;
 
}

.main2 {
  display: flex;
  gap: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: cover;
  transition: transform 0.2s linear;
  position: relative;
  bottom: 45px;

}

.centerImg {
  margin-top: 55px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
 
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    background: black;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;

}
.mapCircle {
    width: 600px;
    height: 130vh;
    border-radius: 45%;
    overflow: hidden;
}

.mapCircle {
    width: 500px;        
    height: 110vh;
    border-radius: 300px;
    overflow: hidden;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

.rightSection {
    width: 50%;
    color: white;
    margin-left: 20px;
    font-family: "Syne", sans-serif;
}

.title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 20px;
  font-family: "Syne", sans-serif;
}

.text {
    color:grey;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    width: 90%;
    font-family: "Syne", sans-serif;
}

.info p {
    margin: 8px 0;
    font-size: 17px;
    color:grey;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    width: 90%;
    padding: 18px 20px;
    border-radius: 40px;
    border: 1px solid rgb(87, 85, 85);
    outline: none;
    font-size: 16px;
    background: #1a1f24;
    color: white;
}

.btn {
    border: none;
    background-color: #b3773b;
    border-radius: 40px;
    width: 90%;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background: transparent;
    border: 1px solid white !important;
    padding: 10px;
    font-weight: bold;
    width: 90%;
}
.view{
  background:  #272b30;
  color: white;
  text-align: center;
}
.wrapper {
    width: 100%;
    background:black;  
    padding: 80px 0;
    display: flex;
    justify-content: center;
    font-family: "Syne", sans-serif;
}

.box {
    background: #171b20;
    width: 80%;
    padding: 70px 50px;
    text-align: center;
    border-radius: 6px;
}

.box h1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
   font-family: "Syne", sans-serif;;
}

.box p {
    color: #cdd0d4;
    margin: 0 auto 40px auto;  
}

.btnn {
    background: #b3773b;
    border: none;
    padding: 14px 40px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    width: 200px;
    transition: 0.3s ease;
}

.btnn:hover {
    background: transparent;
    border: 2px solid #b3773b;
}
