.main {
  background-color: #1f242b;
  display: flex;
  justify-content: space-around;
  align-items: center;
   padding: 40px;
   overflow: hidden;
   font-family: "Syne", sans-serif;
}

.main1 h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.main2 {
  display: flex;
  gap: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: cover;
  transition: transform 0.2s linear;
  position: relative;
  bottom: 45px;

}

.centerImg {
  margin-top: 55px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
 
}

.faqWrapper {
  color: #c4c4c4;
  background-color: #111217;
  padding-top: 100px;
  font-family: "Syne", sans-serif;
}

.title {
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding: 30px 0;
  margin-left: 90px !important;
}

.faqBox {
  border-radius: 8px;
  padding: 70px 90px;
}

.faqHeader {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 12px 20px;
  background-color: #272b33;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 1.3rem;
}

.faqItem {
  border-bottom: 1px solid #33373e;
}

.question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color:white !important;
  text-align: left;
  font-weight: 700;
  padding: 18px 10px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  font-size: 1.2rem;
}

.answer {
  padding: 0 10px 18px 10px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #999999;
  line-height: 1.4;
}
.container {
  width: 90%;
  margin: 40px auto;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.header {
  background: #1f242b;
  padding: 25px 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 22px;
  font-weight: 500;
}
.headerBox {
  background: #1d1f23;
  padding: 18px 25px;
  align-items: center;
  font-size: 22px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.item {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 12px 0;
}

.question p {
  font-size: 20px;
  margin: 0;
}

.icon {
  font-size: 22px;
  transition: 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.answer {
  padding: 10px 0 20px 0;
  color: #bdbdbd;
  font-size: 16px;
  line-height: 1.6;
}
.faqContainer {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.header {
  background: #1e2126;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.titlee {
   font-size:22px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.faqItem {
  border-bottom: 1px solid #333;
  padding: 15px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question h3 {
  font-size: 15px;
  font-weight: 700;
  color:rgb(206, 205, 205);
}

.icon {
  transition: transform 0.3s ease;
  color: #fff;
}

.rotate {
  transform: rotate(180deg);
}

.answer {
  margin-top: 12px;
  color: #bbb;
  line-height: 1.6;
  font-size: 15px;
}
