.navbar {
  position: absolute; /* IMPORTANT */
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navInner {
  max-width: 1200px;
  margin: auto;
  padding: 30px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(116, 116, 116, 0.55);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

/* LEFT MENU */
.leftMenu {
  display: flex;
  gap: 24px;
}

.leftMenu a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.leftMenu a:hover {
  opacity: 0.7;
}

/* CENTER LOGO */
.logoCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logoCenter img {
  height: 120px;
}

/* RIGHT ICONS */
.rightIcons {
  display: flex;
  gap: 18px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
/* ICON WRAPPER */
.NavIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* SVG ICON */
.NavIcons svg {
  width: 20px;
  height: 20px;
  stroke: #ffffff; /* IMPORTANT */
  fill: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* HOVER EFFECT */
.NavIcons:hover svg {
  opacity: 0.7;
  transform: scale(1.1);
}
