@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.fadeUp {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
.footer {
  background: #1e2125;
  padding: 70px 60px 9px;
  color: white;
  font-family: "Syne", sans-serif;
    padding: 70px 60px 9px;
}
.topGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 80px;
}

.heading1 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #fff;
  margin-bottom: 22px;
}

.menuList {
  list-style: none;
  padding: 0;
}

.menuList li {
  color: #b8c1ca;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Syne", sans-serif;
}

.centerBox {
  text-align: center;
}

.subscribeTitle {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 14px;
  font-family: "Syne", sans-serif;
}

.subscribeTitle span {
  color: #c48b46;
  font-weight: bold;
  font-family: "Syne", sans-serif;
}

.subText {
  color: #9e9fa1;
  font-size: 15px;
  line-height: 1.7;
  max-width: 85%;
  margin: 0 auto 30px;
  font-family: "Syne", sans-serif;
}

.inputRow {
  margin-bottom: 20px;
}

.input {
  width: 80%;
  padding: 15px 25px;
  border-radius: 40px;
  border: 1px solid #232a35;
  background: #1a202c;
  color: #fff;
  font-size: 15px;
  font-family: "Syne", sans-serif;
}

.input::placeholder {
  color: #717d8a;
}

.emailBtn {
  background: #c48b46;
  padding: 14px 35px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  font-family: "Syne", sans-serif;
}

.contactInfo {
  font-size: 16px;
  color: #cbd0d6;
  direction: rtl;
  font-family: "Syne", sans-serif;
}

.label {
  color: #818892;
  margin-top: 25px;
}

.divider {
  height: 1px;
  background: #2a303a;
  margin: 18px 0 24px;
}

.middleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomMenu {
  list-style: none;
  display: flex;
  gap: 28px;
  padding: 0;
}

.bottomMenu li {
  color: #d1d5db;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  cursor: pointer;
}
.bottomMenu li:hover{
color: #cd8a47;
}

.logo img {
  width: 180px;
}

.social {
  display: flex;
  align-items: center;
  gap: 18px;
  color: #d1d5db;
  font-size: 20px;
}

.social span {
  font-size: 16px;
}

.copy {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #9aa2ac;
  font-family: "Syne", sans-serif;
}
.logoIcon {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  color: #b3773b;
}
.heading {
  direction: rtl;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 22px;
  font-family: "Syne", sans-serif;
}
@media (max-width: 900px) {
  .topGrid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .middleRow {
    flex-direction: column;
    gap: 25px;
  }
}
