.footer {
  background: #000;
  color: #fff;
  padding: 60px 80px 20px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 40px;
}

.brand {
  max-width: 150px;
}

.logo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.brandName {
  font-size: 18px;
  letter-spacing: 2px;
}

.subText {
  font-size: 12px;
  color: #aaa;
}
.softnova {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.softnova:hover {
  text-decoration: underline;
}
.socials {
  display: flex;
  gap: 15px;
  
  font-size: 18px;
  cursor: pointer;
  justify-content: space-evenly;
}

.column h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 10px;
  cursor: pointer;
}

.column li:hover {
  color: #fff;
}

.contact li {
  cursor: default;
}

.bottom {
  border-top: 1px solid #222;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.bottom span {
  color: #fff;
}

/* Responsive */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .brand{
    margin: auto;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .socials {
    justify-content: center;
  }
}
