@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.wrapper {
  background-color: #0f0f0f;
  padding: 50px 5%;
  color: white;
  font-family: "Syne", sans-serif;
}

.heading {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 50px;
  font-family: "Syne", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 40px;
  align-items: start;
}

.leftImageBox {
  position: relative;
}

.leftImage {
  width: 100%;
  border-radius: 45% / 30%;
  object-fit: cover;
}

.statBox {
  position: absolute;
  bottom: 30px;
  left: 65px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.statBox h2 {
  font-size: 50px;
  margin: 0;
  font-weight: 900;
  font-family: "Syne", sans-serif;
}

.statBox p {
  margin: 5px 0 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

.content {
  padding-top: 20px;
}

.subtitle {
  color: #c8c8c8;
  font-size: 16px;
  font-family: "Syne", sans-serif;
}

.title {
  font-size: 17px;
  line-height: 28px;
  font-family: "Syne", sans-serif;
}

.text {
  color: #bdbdbd;
  font-size: 13px;
  line-height: 20px;

}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.smallImage {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 40% / 30%;
}

.quoteBox {
  background-image: url(/images/d2.png);
  padding: 25px 30px;
  border-radius: 40px;
  opacity: 0.8;
}

.quote {
  font-size: 16px;
  font-style: italic;
  color: black;
}

.quoteAuthor {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Syne", sans-serif;
  color: black;
}


.button {
  background: linear-gradient(to right,#771658, #52206E);
  color: black;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  transition: 0.3s;
  color: white;
}

.button:hover {
  border: 1px solid #771658;
  background: transparent;
  color: white;
}


.features {
  margin-top: 10px;
}

.featureItem {
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftImageBox {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease-out;
}

.leftImageBox.show {
  opacity: 1;
  transform: translateX(0);
}

.rightImageBox {
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.8s ease-out;
}

.rightImageBox.show {
  opacity: 1;
  transform: translateX(0);
}

.content {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
}

.content.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1441px) {


  .subtitle {
    font-size: 45px;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .smallImage {
    width: 250px;
    height: 300px;
    margin-bottom: 30px;
  }
}