@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.successPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background: #191b1f;
}

.card {
  text-align: center;
  padding: 40px 30px;
   background: #0c0c0c;
  border-radius: 14px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 420px;
}

.successImg {
  width: 220px;
  height: auto;
  margin: 0 auto 25px;
  display: block;
}

.card h1 {
  font-size: 28px;
  margin-bottom: 10px;
    font-family: "Syne", sans-serif;
    color: wheat;

}

.card p {
  font-size: 16px;
  margin-bottom: 25px;
    font-family: "Syne", sans-serif;
    color: rgb(211, 210, 209);

}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.homeBtn,
.orderBtn {
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.homeBtn {
  background: linear-gradient(to right,#771658, #52206E);
  color: white;
}

.orderBtn {
  background: linear-gradient(to right,#771658, #52206E);
  color: white;
}
.homeBtn,
.orderBtn {
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(to right,#771658, #52206E);
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.homeBtn:hover,
.orderBtn:hover {
  background: #b8860b;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0px 8px 18px rgba(255, 195, 0, 0.45);
}

.homeBtn::after,
.orderBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 215, 0, 0.35);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease;
}

.homeBtn:hover::after,
.orderBtn:hover::after {
  width: 250px;
  height: 250px;
}
