/* Page */
.Cat {
  background: #000;
}

.catalogPage {
  color: #fff;
  padding: 40px;
  font-family: serif;
}

/* Nav */
.catalogNav {
  opacity: 0.7;
  margin-bottom: 40px;
}

.catalogNav a {
  color: #fff;
  margin-right: 8px;
}

/* Title */
.catalogTitle {
  font-size: 48px;
  margin-bottom: 40px;
}

/* GRID */
.catalogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 24px;
}

/* Card */
.catalogCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

/* BIG IMAGE – RIGHT (Page 1,3,...) */
.bigCardRight {
  grid-column: 2 / span 2;
  grid-row: span 2;
}

/* BIG IMAGE – LEFT (Page 2,4,...) */
.bigCardLeft {
  grid-column: 1 / span 2;
  grid-row: span 2;
}

/* Image */
.imageParent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
}

.catalogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.catalogCard:hover .catalogImage {
  transform: scale(1.08);
}

/* Footer */
.catalogFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 14px;
  opacity: 0.85;
  
}
.catafoot{
  color: #D96FD9;
}
/* Pagination */
.catalogPagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.pageNumber {
  background: #111;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.activePage {
  background: #c89b3c;
  color: #000;
}

.pageArrow {
  background: #e29841;
  color: #000;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.pageArrow:disabled {
  opacity: 0.4;
}

/* Tablet */
@media (max-width: 900px) {
  .catalogGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bigCardLeft,
  .bigCardRight {
    grid-column: span 2;
    grid-row: span 1;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .catalogPage {
    padding: 20px;
  }

  .catalogTitle {
    font-size: 32px;
  }

  .catalogGrid {
    grid-template-columns: 1fr;
  }

  .bigCardLeft,
  .bigCardRight {
    grid-column: span 1;
    grid-row: span 1;
  }
}
