/* .fadeUp {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
.footer {
  background: #1e2125;
  padding: 70px 60px 9px;
  color: white;
  font-family: "Syne", sans-serif;
    padding: 70px 60px 9px;
}
.topGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 80px;
}

.main {
  background-color: #1f242b;
  display: flex;
  justify-content: space-around;
  align-items: center;
   padding: 40px;
   overflow: hidden;
   font-family: "Syne", sans-serif;
}

.main1 h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.main2 {
  display: flex;
  gap: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: cover;
  transition: transform 0.2s linear;
  position: relative;
  bottom: 45px;

}

.centerImg {
  margin-top: 55px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
 
}


.page {
  width: 100%;
  padding: 80px 50px;
  background: #0c0c0d;
  display: flex;
  gap: 80px;
  color: #fff;
}
.mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease; 
  pointer-events: none;
}

.leftBox:hover .mainImage {
  transform: scale(2);
}
.act {
  width: 50px;
  height: 50px;
  background-color: #0c0c0d;
  border-radius: 50%;
  border: 1px solid rgb(146, 144, 144);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

}
.act {
  text-align: center;
  font-size: 18px;
}


.leftBox {
  width: 450px;
  height: 450px;
  background: #111;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.leftBox:hover {
  background: #fff;
  border-color: #fff;
}


.mainImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease;
  pointer-events: none; 
}
.zoomBtn {
  position: absolute;
  bottom: 22px;
  right: 22px;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.rightBox {
  width: 50%;
  padding-top: 20px;
}

.breadcrumb {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
}

.breadcrumb span {
  color: #fff;
}

.title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.price {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.actionRow {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.qtyBtn {
  width: 55px;
  height: 45px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
}

.addBtn {
   background: linear-gradient(to right,#771658, #52206E);
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.price {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.oldPrice {
  font-size: 20px;
  color: #888;
  text-decoration: line-through;
}

.newPrice {
  font-size: 26px;
  font-weight: bold;
  color: #d59a43; 
}


.description {
  font-size: 14px;
  line-height: 1.7;
  color: #bcbaba;
  width: 100%;
  margin-top: 20px;

}
.reviewBox {
  background:#0c0c0d;
  padding: 50px 130px;
  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 20px;
}

.reviewBox h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-size: 30px;
}
.reviewBox p{
  color: grey;
}
.smallText {
  font-size: 15px;
  color: grey;
  margin-bottom: 5px;
}

.label {
  display: block;
  margin-top: 18px;
  margin-bottom: 5px;
  font-size: 14px;
   font-family: "Syne", sans-serif;
}

.input,
.textarea {
  width: 100%;
  background: #2b2e33;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  outline: none;
}

.textarea {
  height: 120px;
}

.stars {
  font-size: 40px;
  margin-bottom: 10px;
  
}

.star {
  cursor: pointer;
  color: #505050;
  transition: 0.2s;
}

.starActive {
  cursor: pointer;
  color: #ffcc00;
  transition: 0.2s;
}

.checkbox {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.submitBtn {
   background: linear-gradient(to right,#771658, #52206E);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.submitBtn:hover{
background: transparent;
cursor: pointer;
 border: 1px solid #771658;
color: white;
}
.container {
  width: 100%;
  margin-top: 20px;
  color: white;
  font-family: sans-serif;
}

.tabWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tab {
  background: #1b1d20;
  padding: 12px 25px;
  border: none;
  border-radius: 20px 20px 0 0;
  font-size: 16px;
  cursor: pointer;
  color: #cfcfcf;
  transition: 0.3s;
}

.active {
  background: white;
  color: black;
  font-weight: bold;
}

.line {
  width: 100%;
  height: 2px;
  background: #a1a1a1;
  margin-top: -5px;
}

.content {
  margin-top: 25px;
}
.scontainer {
  background:#0c0c0d;
  padding: 50px 130px;
  color: #fff;
  padding-left: 93px;
}

.stitle {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sproductGrid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.scard {
  background: #121416;
  border: 1px solid #2a2d30;
  width: 23%;
  padding: 30px 20px;
  border-radius: 10px;
  font-family: "Syne", sans-serif;
  transition: 0.3s ease;
  
}
.scard:hover {
  transform: translateY(-6px);
 border: 1px solid #771658;
}

.simage {
  width: 100%;
  
}

.sname {
  font-size: 18px;
  
}

.sprice {
  font-size: 16px;
}

.sbtn {
  background: linear-gradient(to right,#771658, #52206E);
  border: none;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.sbtn:hover {
  background: transparent;
  border: 1px solid #771658;
}

.sbottomContent {
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
  color: #c7c7c7;
}
.reviewTabContainer {
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin-top: 30px;
  position: relative;
  margin-bottom: 40px;
}

.reviewTab {
  background: white;
  color: black;
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  font-family: "Syne", sans-serif;
  border-radius: 20px 20px 0 0;
  border: 1px solid #aaa;
  border-bottom: none;
  position: relative;
  top: 1px;
  font-weight: bold;
  color: rgb(94, 92, 92);
}
.btnContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cartBtn {
  border: 2px solid white;
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(to right,#771658, #52206E);
  border: none;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.cartBtn:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}
.cartBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.success {
  background: white;
  color: black;
  font-weight: bold;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.viewCart {
  color: white;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
} */

.productPage {
  background: #000;
  color: #fff;
  padding: 12rem 80px 0 80px;
}

.breadcrumb {
  color: #aaa;
  margin-bottom: 40px;
}

.breadcrumb a {
  color: #aaa;
  text-decoration: none;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.imageBox img {
  width: 100%;
  border-radius: 6px;
}

.details h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.price {
  color: #c46ccf;
  font-size: 18px;
  margin-bottom: 25px;
}

.details h4 {
  margin-top: 20px;
  font-size: 14px;
}

.details p {
  color: #bbb;
  font-size: 14px;
}

.qtyRow {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  align-items: center;
}

.qtyRow button {
  /* border: 1px solid #c46ccf; */
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
}
.qtyRow1 {
  background: transparent;
  border: 1px solid #c46ccf;
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
}
.btnWrap {
  display: inline-block;
  padding: 6px;         /* gap between border & button */
  border: 2px solid #c65ac8; 
  /* border-radius: 6px;    */
  width: fit-content;
}
/*  */

.seeMore {
  background: linear-gradient(180deg, #612882, #ca329a);
  color: #c96bdc;
  border: none;
  padding: 10px 28px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  
  transition: all 0.3s ease;
}

.seeMore:hover {
  background: transparent;
  
}
.btnWrap {
  display: inline-block;
  padding: 6px; /* gap between border & button */
  border: 1px solid #c65ac8;
  width: fit-content; /* outer border */
}
.addToBag {
  background: linear-gradient(180deg, #612882, #ca329a);
  color: #000;
  border: none;
  padding: 10px 90px;
  font-size: 14px;
  width: 250px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  cursor: pointer;
 
  transition: all 0.3s ease;
}

.addToBag:hover {

  background: transparent;
}

.seeAlso {
  margin-top: 80px;
}

.related {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.relatedCard img {
  width: 100%;
}

.relatedCard {
  text-decoration: none;
  color: #fff;
}

.relatedCard span {
  color: #c46ccf;
}

/* Responsive */
@media (max-width: 768px ) {
  .productGrid {
    grid-template-columns: 1fr;
  }
  .productPage{
    padding: 10rem 0 0 0  !important;
  }
  .qtyRow{
    flex-direction: column;
  }
}
