@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.section {
  padding: 50px 5%;
  background: #0f0f0f;
  color: white;
  font-family: "Syne", sans-serif;
}

.heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: "Syne", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  border: 1px solid #2e2e2e;
  padding: 20px;
  border-radius: 6px;
  transition: 0.25s;
}

.card:hover {
  border-color: #d9a96c;
}

.cardHeader {
  margin-bottom: 20px;
}

.productName {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  font-family: "Syne", sans-serif;
}

.prices {
  margin-top: 8px;
}

.oldPrice {
  text-decoration: line-through;
  color: #9e9e9e;
  font-size: 14px;
  margin-right: 8px;
  font-family: "Syne", sans-serif;
}

.newPrice {
  font-size: 15px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
}

.imageWrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 190px;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width:1441px){
  
}