@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.main {
  background-color: #1e2125;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.main1 h1 {
  color: white !important;
  font-size: 50px;
  font-weight: 700;
  font-family: "Syne", sans-serif;

}

.main2 {
  display: flex;
  gap: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pImage {
  width: 180px;
  height: 250px;
  border-radius: 200px;
  object-fit: cover;
  transition: transform 0.2s linear;
  position: relative;
  bottom: 45px;
}

.centerImg {
  margin-top: 55px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;

}

.hero {
  position: relative;
  height: 100vh;
  background: url("/images/shop-main.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* DARK OVERLAY */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  /* adjust darkness */
  z-index: 1;
}

/* CONTENT ABOVE OVERLAY */
.hero>* {
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.contents {
  position: relative;
  z-index: 2;
  color: #fff;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.cartIcon {
  margin-right: 3rem;
}

.contents h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Syne", sans-serif;
}

.contents p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {

  .hero,
  .contents {
    height: 55vh;
  }
}