@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.wrapper {
  padding: 60px 40px;
  background: #0e0e0f;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
}

.card {
  background: #111;
  border: 1px solid #2a2a2a;
  padding: 40px 20px;
  text-align: center;
  border-radius: 110px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
}

.card:hover {

  transform: translateY(-4px);
}
.card:hover {
   border: 1px solid #771658;
}
.icon {
  color: #fff;
  margin-bottom: 10px;
}

.title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  font-family: "Syne", sans-serif;
}

.text {
  color: #adabab;
  font-size: 14px;
  max-width: 200px;
  margin: 0 auto;
  font-family: "Syne", sans-serif;
}
