@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Bootstrap Accordion Overrides */
.accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-item {
  border-bottom: 1px solid #31363C !important;
}

.accordion-button {
  box-shadow: none !important;
  padding: 1.3rem;
}

#acord .accordion-button:not(.collapsed),
#accordionFlushExample .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
}

@media (max-width: 900px) {
  .accordian-item {
    margin: 0rem 2rem !important;
  }

  #flush-collapseSix {
    border-bottom: 1px solid black !important;
  }
}